# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Clion projects after April 15\341 Project 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
